.signUp {
    margin-top: 20px ;
    margin-left: 20px;
    float: left;
    color:white;
}
.signUp i{
    
    font-size:60px;
    color: white;
}
.head{
    margin-left: 350px;
    color: #ff8e71;
    font-size: 200px;
    font-family: 'Flamenco', cursive;
    font-weight: lighter;
}  

   
    

