.table {
    border:20px ridge rosybrown;
    text-align: center;
    margin-top: 10%;
    background-color: rgb(236, 215, 215);
    text-decoration: none;
    
}
.body {
    background-color: rgb(59, 64, 70);
    padding-top:2 rem;
    padding-bottom: 2 rem;
    height: 80%;
}
.first {
    background-color: rgb(228, 149, 149);
    font-weight: bold;
    font-size: x-large;
}
.table td{
    font-size: large;
}
.xyz{
    border:5px ridge rosybrown;
    width: 100%;
    height: 50px;
    background-color: rgb(228, 149, 149);
    font-size: xx-large;
    text-align: center;
}
.choose form select option {
    font-size: 20px;
    text-align: center;
    
    
}
