#menuToggle
 {
   float: left;
   display: block;
   position: relative;
   top: 50px;
   left: 20px;
   font-size: larger;
   z-index: 1;
   -webkit-user-select: none;
   user-select: none;
 }
 #menuToggle a
 {
   font-size: 30px;
    font-weight: 600;
   text-decoration: none;
   color: #232323;
   font: bolder;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color:rgb(94, 95, 134);
 }
 